{{ partial "header.html" . }}

	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>{{ .Site.Params.introLine  | safeHTML }}</h4>
					<h1>{{ .Site.Params.yourName | safeHTML }}</h1>
					<h2>{{ .Site.Params.tagLine | safeHTML }}</h2>
				</div>
			</div><!--/row -->
	    </div> <!-- /container -->
	</div><!--/headerwrap -->

  {{ partial "sections" . }}

{{ partial "social" . }}

{{ partial "bottom" . }}
{{ partial "footer" . }}
